{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block title %}
    <title>Patients</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 nav">
                <h1 class="mt-2">Patient Management Application</h1>
                <div class="buttons">
                    <a href="{% url 'add' %}">
                        <button type='button'>
                            <h2>Register</h2>
                        </button>
                    </a>
                    <a href="{% url 'fetch' %}">
                        <button type='button'>
                            <h2>Check</h2>
                        </button>
                    </a>
                    <a href="{% url 'index' %}">
                        <button type='button'>
                            <h2>Home</h2>
                        </button>
                    </a>
                </div>
            </div>
            <hr>
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <footer><i>&copy; Developed by Forum Desai</i></footer>
    </div>
</body>

</html>