@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

html,
body {
    margin: 1em 2em;
}

h1,
h3,
label,
footer {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: darkred;
}

footer,
th,
td {
    text-align: center;
}

/* base.html */

.nav {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    text-align: center;
}

.buttons {
    text-decoration: none;
    position: absolute;
    right: 0;
}

a {
    display: inline-block;
}

.navBtn {
    padding: 0rem 1rem;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

/* add.html */

.message {
    color: darkred;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* Table */

.patientTable {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

.patientTable th,
.patientTable td {
    padding: 0.25rem;
    border: 1px solid #ccc;
}

.patientTable tbody tr:nth-child(odd) {
    background: #eee;
}

/* Form */

form {
    width: 100%;
}

#patientIdInput {
    width: 3.5rem;
    padding: 8px 12px;
    margin: 8px 5px;
    box-sizing: border-box;
}

input {
    padding: 8px 12px;
    margin: 8px 5px;
    box-sizing: border-box;
}

.submit {
    padding: 0.5rem;
    width: 4%;
    text-align: center;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

#regSubmit {
    width: 6%;
    margin: 0 auto;
    display: block;
    font-size: 1rem;
}