@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

html,
body {
    margin: 1em 2em;
}

h1,
h3,
footer {
    font-family: 'Roboto', sans-serif;
}

footer,
th,
td {
    text-align: center;
}

/* base.html */

.nav {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    text-align: center;
}

.buttons {
    text-decoration: none;
    position: absolute;
    right: 0;
}

a {
    display: inline-block;
}

button {
    padding: 0.5rem 0.2rem;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
    font-size: 1rem;
}

/* add.html */

.message {
    color: darkred;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* Table */

table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

th,
td {
    padding: 0.25rem;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

/* Form */

input {
    width: 100%;
    padding: 12px 17px;
    margin: 8px 0;
    box-sizing: border-box;
}